/tmp
/out-tsc

/node_modules
/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
package-lock.json

.vscode/*
.idea/*

# Generated JavaScript files
public/js/htmx.min.js
public/js/htmx.min.js.map
public/js/htmx-ext-sse.min.js
public/js/htmx-ext-sse.min.js.map
public/js/tom-select.min.js
public/js/tom-select.min.js.map


# Generated CSS files
public/css/output.css