<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{#if title}}{{title}}{{else}}Pogonka{{/if}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="font-sans m-0 p-5 leading-relaxed">
<div class="max-w-4xl mx-auto p-5">
    {{{body}}}
</div>
</body>
</html>
